{% extends 'layout.html' %}

{% block content %}

<section class="payment-section">

    <div class="payment-container">

        <div class="payment-card">

            <span class="tag">
                SECURE ONLINE PAYMENT
            </span>

            <h1>Make Payment</h1>

            <p>
                Pay securely using UPI,
                Debit Card,
                Credit Card or Net Banking.
            </p>

            <div class="payment-options">

                <div class="option">
                    <i class="fas fa-credit-card"></i>
                    <span>Card</span>
                </div>

                <div class="option">
                    <i class="fas fa-mobile-alt"></i>
                    <span>UPI</span>
                </div>

                <div class="option">
                    <i class="fas fa-university"></i>
                    <span>Banking</span>
                </div>

            </div>

            <button class="pay-btn">
                Pay Now
            </button>

        </div>

    </div>

</section>

{% endblock %}